<!-- Vendor Page Content
================================================== -->
<div class="media">
  <a class="pull-right media-object btn btn-sm btn-warning" href="#/vendor/edit/\{{ vendor.id }}" ng-show="userIsLoggedIn">
    <i class="fa fa-pencil"></i> Edit this location
  </a>
  <a class="pull-right media-object btn btn-sm btn-warning" href="/login" ng-hide="userIsLoggedIn">
    <i class="fa fa-pencil"></i> Log in to edit this location
  </a>
  <div class="media-body">
    <h1 class="media-heading">\{{ vendor.name }}</h1>
    <p>\{{ vendor.landmark }}</p>
  </div>
</div>
</div><!-- /.container -->
<div class="gmap-container">
<img src="http://maps.googleapis.com/maps/api/staticmap?center=\{{ vendor.lat }},\{{ vendor.lng }}&zoom=15&size=300x250&maptype=roadmap&markers=color:blue%7Clabel:\{{ vendor.name }}%7C\{{ vendor.lat }},\{{ vendor.lng }}&scale=2" alt="">
<div class="button-controls">
  <a href="" class="btn btn-link btn-lg fa fa-plus-circle"></a>
  <a href="" class="btn btn-link btn-lg fa fa-minus-circle"></a>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Selling</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
    </tbody>
  </table>
</div>

